<h1 style="color: purple; text-align: center;">Whats App</h1>
<br>
<mat-card>
  <div class="connect">

    <mat-horizontal-stepper #stepper>
      <mat-step >
        <ng-template matStepLabel>Server</ng-template>
        <mat-form-field>
          <input matInput placeholder="URL" required [(ngModel)]="websocketURL">
        </mat-form-field>
        <br>
        <button mat-button matStepperNext>Next</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>User credentials</ng-template>
        <mat-form-field>
          <input matInput placeholder="Username" required [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" required [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <br>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="sendUserCredentials()">Log in</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now connected.
        <br>
        <div>
          <button mat-button matStepperPrevious (click)="disconnect()">Disconnect</button>
          <button mat-button (click)="stepper.reset()" (click)="disconnect()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</mat-card>
<br>
<div *ngIf="showInterface">
  <mat-card>
    <div>
      <mat-form-field>
        <mat-label>Group</mat-label>
        <mat-select [(value)]="selectedGroup" (change)="groupChanged()">
          <div *ngFor="let group of groups">
            <mat-option [value]="group" >{{group}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 50%;">
        <textarea matInput matTextareaAutosize matAutosizeMinRows=3  [(ngModel)]="gotMessages"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 50%;">
        <textarea matInput matTextareaAutosize matAutosizeMinRows=1 placeholder="Text" [(ngModel)]="text"></textarea>
      </mat-form-field>
      <div style="text-align: center;">
        <button [disabled]="selectedGroup == ''" mat-button (click)="send()">Send</button>
      </div>
    </div>
  </mat-card>
</div>




